[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/bmustiata/snipmate.vim.git
