[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/bmustiata/snipmate.vim.git
[submodule "bundle/guicolorscheme.vim"]
	path = bundle/guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim
[submodule "bundle/taboo.vim"]
	path = bundle/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
