[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/guicolorscheme.vim"]
	path = bundle/guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim
[submodule "bundle/taboo.vim"]
	path = bundle/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node
[submodule "bundle/splice.vim"]
	path = bundle/splice.vim
	url = https://github.com/bmustiata/splice.vim
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = http://github.com/bmustiata/ultisnips
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/bmustiata/vim-cucumber
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library
[submodule "bundle/asciidoc-vim"]
	path = bundle/asciidoc-vim
	url = https://github.com/dagwieers/asciidoc-vim
[submodule "bundle/vim-simple-todo"]
	path = bundle/vim-simple-todo
	url = https://github.com/bmustiata/vim-simple-todo
