snippet src "Create a source segment"
[source,${1:text}]
-----------------------------------------------------------------------------
${VISUAL}${0:}
-----------------------------------------------------------------------------
endsnippet

snippet source "Create a source segment"
[source,${1:text}]
-----------------------------------------------------------------------------
${VISUAL}${0:}
-----------------------------------------------------------------------------
endsnippet
