snippet compass "Add compass NPM tasks"
grunt.loadNpmTasks('grunt-contrib-compass');${0:}
endsnippet

snippet compassConfig "Adds the compass config for the plugin"
compass: {
	${1:dist} : {
		options: {
			sassDir: '${2:scss}',
			cssDir: '${3:css}',
			// environment: 'production'
		}
	}
}
endsnippet

