snippet html "Create a HTML page"
<!doctype html>
<html>
	<head>
		<title>${1:page}</title>
	</head>
	<body>
		${2:}
	</body>
</html>
endsnippet

snippet form "Create a form"
<form action="${1:url}" method="${2:post}">
	${3:}
</form>
endsnippet

snippet inp "Add an input"
<input name="${1:name}" type="${2:text}"/>
endsnippet

