snippet ks, "Adds a key/string value pair"
"${1:name}" : "${2:value}",
${0:}
endsnippet

snippet ks "Adds a key/string value pair"
"${1:name}" : "${2:value}"${0:}
endsnippet

snippet k " Adds a key/value pair"
"${1:name}" : ${2:value}
endsnippet

snippet k, " Adds a key/value pair"
"${1:name}" : ${2:value},
${0:}
endsnippet


