snippet desc "Adds a describe function."
describe('${1:what}', function() {
	${0:}
});
endsnippet

snippet it "Adds an it check."
it('${1:should do something when other}', function() {
	${0:}
});
endsnippet

snippet expect "Adds an Chai expect."
expect(function() {
	${0:}
}).to.throw('${1:}');
endsnippet

