snippet vhost "Add a virtual host"
server {
	listen		80;
	server_name	${1:localhost};

	location / {
		root	${2:/var/www/html};
		index	index.html index.html index.php;
	}

	location ~ \.php$ {
		root		   $2;
		try_files $uri =404;
		fastcgi_pass   unix:/var/run/php-fpm/php-fpm.socket;
		fastcgi_index  index.php;
		fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
		include		fastcgi_params;
	}
}
endsnippet
