snippet snippet "Create a new snippet"
snippet ${1:tab_expand} "${2:description}"
${0:}
`!p snip.rv = "endsnippet"`
endsnippet

snippet c "Adds a comment"
#
# ${0:}
#
endsnippet


snippet cs "Adds a comment section"
#############################################################################
# ${0:}
#############################################################################
endsnippet

